In [1]:
# Libraries to help with reading and manipulating data
import numpy as np
import pandas as pd

# Libraries to help with data visualization
import matplotlib.pyplot as plt
import seaborn as sns
from pylab import rcParams

# Command to tell Python to actually display the graphs
%matplotlib inline

# this library contains a large number of probability distributions as well as a growing library of statistical functions
import scipy.stats as stats

In [2]:
#Read the data 
df = pd.read_csv('DATA/dataset_group.csv')

In [3]:
df.tail()

             Date  Order_id            Product
20636  25-02-2020      1138               soda
20637  25-02-2020      1138       paper towels
20638  26-02-2020      1139               soda
20639  26-02-2020      1139  laundry detergent
20640  26-02-2020      1139            shampoo

In [4]:
df.head()

         Date  Order_id        Product
0  01-01-2018         1         yogurt
1  01-01-2018         1           pork
2  01-01-2018         1  sandwich bags
3  01-01-2018         1     lunch meat
4  01-01-2018         1   all- purpose

In [5]:
# Data Type of Columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20641 entries, 0 to 20640
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      20641 non-null  object
 1   Order_id  20641 non-null  int64
 2   Product   20641 non-null  object
dtypes: int64(1), object(2)
memory usage: 483.9+ KB

In [6]:
# Rows and Columns
df.shape

(20641, 3)

In [7]:
# nulls in data set
df.isnull().sum()

Date        0
Order_id    0
Product     0
dtype: int64

In [8]:
# duplicate in data set
df.duplicated().sum()

4730